h5 {
  font-size: 1rem;
}

.filters {
  min-width: 20%;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 300px;
}

.loading-box img {
  display: block;
  max-height: 100px;
  margin: auto;
  animation: pulse 1s infinite;
}

.loading-box div {
  font-size: 20px;
  font-family: cursive;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

html, .App, #root {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 75px;
  background-color: floralwhite;
}

#twitterTweet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.volunteer-map{
  display: flex;
  justify-content: center;
}

.bg-image {
  background-image: url("src/images/pexels-rodnae-productions-6646917.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
}

.navbar{
  background-color:rgb(224, 215, 195);
}

.table { 
  width: 65%;
}

.profile-image{
  background-image: url("src/images/temp.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 
}
