h6, .foot-link {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  float: left;
  text-decoration: none;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms{
  background-color: gray;
}

.col h6{
  margin-bottom: 1px;
}